* {margin:0px;
padding:0px;
box-sizing:border-box;
font-family: 'Open Sans', sans-serif;}

img{display: block;
max-width:100%}

body{padding-bottom:100px;
}



/*Header*/
.all-header{height:80px;
display: flex;
background-color: white;
justify-content: space-between;
align-items: center ;
font-size:14px;
}

ul{list-style-type: none;
text-decoration: none;}

.square-button{background-color:blue;
padding: 5px 10px;
color: white;
text-decoration: none;
}

nav ul{display: flex;
flex-direction:row;
justify-content: space-around;
gap:25px;
margin-left:5px;
margin-right:5px;}
 
/*Main - Jumbotron*/ 
#jumbotron{background-color:rgb(180, 208, 231);
max-height:700px;}

.jumbotron-container{height: 600px;
}

h1{font-size: 60px;
margin-bottom:50px;}

.jumbotron-container{max-width:1000px;
margin:0 auto;
padding-top: 70px;
max-height:600px;}

/*jumbotron blocks*/
.jumbo-row{display: flex;

}
.jumbo-text{display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;}

.jumbo-text > .jumbo-row{flex-basis: 30%;}
.jumbo-image > .jumbo.row{flex-basis: 70%;}

i{font-size: xx-large;
}
.jumbo-image{position:relative;
bottom:-80px;}

/*Subscription plan*/
#subscription{margin:150px 200px;}

h2{font-size:38px;
padding-bottom:20px;}
.sub-choice > i{font-size:16px;}
.sub-choice{padding-bottom:70px;}

.sub-row{display:flex;
flex-wrap:wrap;
gap:50px;}

.sub-col{flex-basis:(100 / 3 - 100px /3) ;
min-height:100px;
border:dashed;}

.sub-row > .sub-col{flex-basis: (100 / 3 - 100px /3);
min-width:30%}
.sub-row> .low{flex-basis:99%;}