* {margin:0px;
padding:0px;
box-sizing:border-box;
font-family: 'Open Sans', sans-serif;}

img{display: block;
max-width:100%}

/*Header*/
.all-header{height:80px;
display: flex;
background-color: white;
justify-content: space-between;
align-items: center ;
font-size:14px;
}

ul{list-style-type: none;
text-decoration: none;}

.square-button{background-color:blue;
padding: 5px 10px;
color: white;
text-decoration: none;
}

nav ul{display: flex;
flex-direction:row;
justify-content: space-around;
gap:25px;
margin-left:5px;
margin-right:5px;}
 
/*Main - Jumbotron*/ 
#jumbotron{background-color:rgb(180, 208, 231);
max-height:700px;}

#jumbotron h1{font-size: 60px;
margin-bottom:50px;}

.jumbotron-container{max-width:1000px;
margin:0 auto;
padding-top: 70px;
height:600px;}

/*jumbotron blocks*/
.jumbo-row{display: flex;

}
.jumbo-text{display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;}

.jumbo-text > .jumbo-row{flex-basis: 30%;}
.jumbo-image > .jumbo.row{flex-basis: 70%;}

.jumbo-text i{font-size: xx-large;
}
.jumbo-image{position:relative;
bottom:-80px;}

/*Subscription plan*/
#subscription{margin:150px 200px;}

h2{font-size:38px;
padding-bottom:20px;}
.sub-choice > i{font-size:16px;}
.sub-choice{padding-bottom:70px;}

.sub-container{width:1200px;
height:800px;
}

.col-sub-plan{padding: 0 10px;}
.sub-row{display:flex;
flex-wrap: wrap;
gap:30px;}

.sub-row > .col-sub-plan{flex-basis: calc(100% / 3 - 60px / 3);
min-height: 100px;
border:1px solid black;
}

.sub-grow{flex-grow: 1;
}
  
.sub-grow-mng{display: flex;
justify-content: space-between;
flex-direction: row;}

.col-title{text-align: center;}

.col-sub-plan ul{margin-top:50px;
margin-bottom:50px;}

.col-sub-plan a{display: inline-block;}

.fa-check{color: #0093CE;}


/*Partner*/ 

.partner-section{margin:150px 200px;
display:flex;
flex-direction:row;
}

.partner-container{display: flex;
flex-direction: row;
min-height:600px;
min-width:100%;
}

.partner-img{max-height:100%;
min-width:60%;

}
.partner-mng{display: flex;
flex-direction: column;
justify-content: center;
height:100%;
padding: 50px 50px;}

.partner-text h3{font-size: 38px;}
.partner-text p{font-size:large;}
#partner-btn{background-color: white;
color: #000;
padding: 5px 10px;
height:40px;
width:120px;}

/*Operation*/ 
.operation{margin: 150px 200px;
}

.operation-row{display: flex;
flex-direction:row;
gap:40px;
flex-wrap:wrap;
}

.operation-col{flex-basis: calc(100% /3 - 80px /3);
min-height:100px;}
.operation-mng h4{font-size: large;
margin-bottom:20px;}

/*Business*/ 

.business-head{margin: 150px 200px;}

.bz-squares{display:flex;
background-color: white;}

.single-square{display:flex;
justify-content: center;
align-items: center;
width:50%;
height:50%;
}


.bz-square{flex-basis: calc(100%/ 3);
height:calc(100vw/ 3);
display: flex;
flex-wrap: wrap;
}

.single-square img{width:50%;
}
.lightgrey{background-color: #F5F5F5;
display: flex;
flex-direction: column;
justify-content: start;}
.lightgrey img{height:30%;
width:50%;}
.lightgrey q{margin-bottom: 50px;}

.green{background-color: #A2D39B;}
.brown{background-color: #61082B;}
.azure{background-color: #0093CE;}
.orange{background-color: #FF1C1C;}
.red{background-color: #D5001F;}
.lightblue{background-color: #B4D0E7;}
.darkblue{background-color: #0D2481;}
.yellow{background-color: #FFD830;}

.single-square:hover{border:10px solid;
color: rgba(255, 255, 255, 0.5);}


/*Bring Dropbox business*/ 
.bring-db{background-color: #B4D0E7;
height:400px;
display: flex;
align-items: center;
}
.bring-container{margin: 0 200px;
height:100%;
width:auto;
display: flex;
align-items: center;
}
.bring-text-box{width:60%;
}
.bring-btn-box{width:40%;
}
#bring-btn{background-color: white;
    color: #000;
    padding: 10px 40px;
margin-left:150px;
border:none;}

.bring-text-box h2{color:#61082b}

/*FAQ section*/ 
.faq-section{margin: 150px 200px;}

.faq-container{display:flex;
    max-width:100%;
}

.question{height:100px;
border-top:1px solid;
border-bottom:1px solid;
width:100%;
display:flex;
align-items: center;
justify-content: space-between;}

.borderless{border:none;}

/*Footer*/ 
.footer-section{height:500px;
background-color: #000;
}

.footer-container{display: flex;
width:100%;
height:100%;
padding: 80px 150px;
color:white;
}
.footer-column{display:flex;
flex-direction: column;
justify-content: space-between;
padding:40px;}

.footer-column a{color:white;
text-decoration: none;}

